    /* Tablet*/
    @media ((min-width: 750px) and (max-width: 1024px)) {

        /* Formulário de Eventos */
        #descricao-do-evento {
            flex-direction: row;
            height: auto;
        }

        #descricao-do-evento {
            padding: 1em;
        }

        #descricao-do-evento {
            margin-bottom: .5em;
        }

        .group-form {
            max-width: 35%;
        }

        #aviso-do-evento {
            padding: 1em;
        }

        #aviso-do-evento h2 {
            margin-bottom: 1em;
        }

        #data-evento {
            max-width: 50%;
        }

        #formulario-de-incricao {
            max-width: 50%;
            margin-bottom: 2em;
        }

        /* Seção de Beneficios */
        .beneficios {
            flex-direction: column;
            align-items: center;
            width: auto;
            padding: 2em;
        }

        .beneficio {
            max-width: 100%;
            margin-bottom: 2em;
            margin-top: 1em;
        }

        /* Local do Evento */
        #localizacao {
            flex-direction: column;
            height: auto;
            text-align: center;
            padding: 2em 0;
        }

        #endereco {
            order: 2;
            flex-direction: column;
            max-width: 100%;
        }

        #endereco i {
            margin: .3em 0;
        }

        #sobre-localizacao {
            order: 1;
            max-width: 100%;
        }

        #sobre-localizacao h3 {
            margin-bottom: 0;
        }

        #sobre-localizacao p {
            display: none;
        }

        /* Detalhes do Evento */
        .detalhe {
            flex-direction: column;
            margin-bottom: .5em;
            gap: 0;
        }

        .detalhe img {
            width: 100%;
            margin: 2em 0;
        }

        #detalhe-1 img {
            display: none;
        }

        .descricao-detalhes {
            padding: 0;
        }

        #detalhe-3 img {
            order: 2;
        }

        #detalhe-3 .descricao-detalhes {
            order: 1;
        }

        /* Entre em contato */
        #cta {
            text-align: center;
        }

        #cta .btn {
            width: 80%;
        }

    }


    /* Mobile */
    @media ((min-width: 320px)and (max-width: 750px)) {

        /* Formulário de Eventos */
        #descricao-do-evento {
            flex-direction: column;
            height: auto;
        }

        #descricao-do-evento {
            padding: 2em;
        }

        #descricao-do-evento {
            margin-bottom: .5em;
        }

        #formulario-de-incricao {
            max-width: 70%;
        }

        #aviso-do-evento {
            padding: 2em;
        }

        #aviso-do-evento h2 {
            margin-bottom: .5em;
        }

        #formulario-de-incricao {
            max-width: 70%;
            margin-bottom: 2em;
        }



        /* Seção de Beneficios */
        .beneficios {
            flex-direction: column;
            align-items: center;
            width: auto;
            padding: 2em;
        }

        .beneficio {
            max-width: 100%;
            margin-bottom: 2em;
        }

        /* Local do Evento */
        #localizacao {
            flex-direction: column;
            height: auto;
            text-align: center;
            padding: 2em 0;
        }

        #endereco {
            order: 2;
            flex-direction: column;
            max-width: 100%;
        }

        #endereco i {
            margin: .3em 0;
        }

        #sobre-localizacao {
            order: 1;
            max-width: 100%;
        }

        #sobre-localizacao h3 {
            margin-bottom: 0;
        }

        #sobre-localizacao p {
            display: none;
        }

        /* Detalhes do Evento */
        .detalhe {
            flex-direction: column;
            margin-bottom: .5em;
            gap: 0;
        }

        .detalhe img {
            width: 100%;
            margin: 2em 0;
        }

        #detalhe-1 img {
            display: none;
        }

        .descricao-detalhes {
            padding: 0;
        }

        #detalhe-3 img {
            order: 2;
        }

        #detalhe-3 .descricao-detalhes {
            order: 1;
        }

        /* Entre em contato */
        #cta {
            text-align: center;
        }

        #cta .btn {
            width: 80%;
        }
    }