:root {
    --primary: #ff8006;
    --secondary: #95989a;
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
}

* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Formulario de evento*/
#descricao-do-evento {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("https://source.unsplash.com/800x600/?dog/?face/?cat");
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);

}

#descricao-do-evento h2,
#descricao-do-evento .data-evento {
    color: var(--primary);
}

#descricao-do-evento h2 {
    font-size: 3em;
    margin-bottom: 1em;
}

#descricao-do-evento .sobre-evento {
    font-size: 2em;
    text-transform: uppercase;
    max-width: 350px;
    font-weight: bold;
    margin-bottom: 1em;
}

#descricao-do-evento p {
    font-size: 1.2em;
    margin-bottom: .3em;
}

#descricao-do-evento .data-evento {
    font-weight: bold;
}

#formulario-de-incricao {
    background-color: var(--secondary);
    padding: 2em;
    max-width: 22%;
}

#formulario-de-incricao p {
    font-size: 1.5em;
    color: var(--text-secondary);
    margin-bottom: 1.em;
}

.grupo-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
}

.grupo-form label {
    color: var(--text-tertiary);
    margin-bottom: .3em;
    font-weight: bold;
}

.grupo-form input,
.grupo-form select {
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn {
    background-color: var(--primary);
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    border: none;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;

}

.btn:hover {
    opacity: 1;
}

/* Seção de beneficios */
#secao-de-beneficios h2 {
    background-color: var(--secondary);
    text-align: center;
    padding: 2em;
    font-weight: 500;
}

.beneficios {
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 80%;
    margin: 0 auto;
}

.beneficio {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color: var(--text-tertiary);
}

.beneficio .beneficio-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}

#beneficio-1 {
    background-image: url(../src/img/cao-e-gato-filhote-1.jpg);
}

#beneficio-2 {
    background-image: url(../src/img/cao-e-gato-adulto-2.jpg);
}

#beneficio-3 {
    background-image: url(../src/img/cao-e-gato-senior-3.jpg);
}

/* Local do Evento */
#localizacao {
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../src/img/cat-dog-home-page.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    margin-bottom: 3em;
}

#endereco,
#sobre-localizacao {
    max-width: 30%;
}

#endereco {
    display: flex;
}

#endereco i {
    color: var(--primary);
    font-size: 4em;
    margin-right: 0.5em;
}

#detalhes-do-evento {
    text-align: center;
    font-size: 1.3em;
}

#sobre-localizacao h3 {
    color: var(--primary);
    font-size: 2.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

#sobre-localizacao p {
    line-height: 1.5em;
}

/* Detalhes do Evento Conteúdo */
#detalhes {
    width: 80%;
    margin: 0 auto;
}

.detalhe {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 4em;
}

.detalhe img {
    width: 50%;
}

.detalhe h3 {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 500;
}

#detalhe-1 h3 {
    font-size: 3em;
    font-weight: 700;
}

.descricao-detalhes {
    width: 100%;
    padding-left: 2em;
}

.descricao-detalhes ul {
    list-style-position: inside;
}

.descricao-detalhes ul li {
    margin-bottom: 0.4em;
}

.descricao-detalhes ul li:last-child {
    font-weight: bold;
}

/* Botão se increva */

#cta {
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../src/img/gato-olhando.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

#cta h3 {
    margin-bottom: 1.2em;
    font-size: 2em;
    font-weight: 500;
}

#cta .btn {
    width: 30%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.2em;

}

#cta .btn a {
    color: var(--text-color);
    text-decoration: none;
}

#cta form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Footer */
#footer {
    text-align: center;
    color: var(--secondary);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer h3 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

#footer a:nth-child(2) {
    margin-bottom: 1em;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--secondary);
}

#footer span {
    font-weight: bold;
}